body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
form{
    width: 330px;
    height: 260px;
    background-color: #fff;
    margin: 150px auto;
    border-radius: 11px;
    padding: 40px 50px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
}
form button{
  width: 100%;
    border: none;
    height: 35px;
    background-color: rgb(29,117,144);
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}
.welcome-page button{
    width: 200px;
    border: none;
    height: 35px;
    background-color: rgb(29,117,144);
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}
form input{
  width:94%;
    height: 35px;
    border: none;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    outline: none;
    padding-left: 20px;
}
h3{
  color: #495d76;
      margin-top: 40px;
}
form p{
      color: #929292;
    font-size: 13px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}
.welcome-page p{
   color: #929292;
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}
form button {
  margin-top: 20px;
}
.error-text{
  color: red;
  margin-top: 20px;
}
.leaflet-container {
  width: 100%;
  height: 60vh;
}
form img{
      width: 100px;
    position: absolute;
     left: 10px;
     top: 17px;
}
.welcome-page img{
  width: 400px;
  margin: auto;
}
.welcome-page{
  background-color: #fff;
  height: auto;
  min-height: 100vh;
  width: 100%;
  text-align: center;
}